<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>News</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand mx-auto" href="#">NEWS</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4 text-center">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>TITLE</th>
                        <th>NEWS</th>
                    </tr>
                    <% for(var i = 0; i < news.length; i++ ) { %>
                    <tr>
                        <td> <%= news[i].id_news %> </td>
                        <td> <%= news[i].title %> </td>
                        <td> <%= news[i].new_body %> </td>
                    </tr>
                    <% } %>
                </table>
            </div>

            <div class="col-md-6 mt-4 card">
                <form action="/add-new" method="post" class="card-body">

                    <h3 class="card-title">Add new</h3>
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Add a title" id="title">
                    </div>
                    <div class="form-group">
                        <textarea name="new_body" class="form-control" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary">
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>

<script>
    document.getElementById('title').focus();
</script>

</html>